$colorCategories: (
  primary: (
    brand-blue: (
      900: #122252,
      800: #15275f,
      700: #182d6d,
      600: #1b327a,
      500: #1e3888,
      400: #354c94,
      300: #4b60a0,
      200: #7888b8,
      100: #bcc3db
    )
  ),
  secondary: (
    brand-yellow: (
      900: #713f12,
      800: #854d0e,
      700: #a16207,
      600: #ca8a04,
      500: #eab308,
      400: #facc15, 
      300: #fde047,
      200: #fde68a,
      100: #fef3c7
    ),
  ),
  semantic: (
    critical: (
      dark: #991b1b,
      base: #dc2626,
      light: #fca5a5
    ),
    warning: (
      dark: #9a3412,
      base: #ea580c,
      light: #fdba74
    ),
    success: (
      dark: #047857,
      base: #10b981,
      light: #6ee7b7
    ),
    info: (
      dark: #0b4b99,
      base: #106bda,
      light: #88b5ed
    ),
  ),
  grayscale: (
    shade: (
      absblack: #000000,
      900: #0f172a,
      800: #1e293b,
      700: #334155,
      600: #475569,
      500: #64748b,
      400: #94a3b8,
      300: #cbd5e1,
      200: #e2e8f0,
      100: #f1f5f9,
      abswhite: #ffffff
    )
    )
);
