///
/// font families for your application
/// your design system, the naming structure is very important because it will taylor you classes
/// @example generated classes/variables
///    --ff-#{$fontFamily}: '#{$value}'; => --ff-main: 'Montserrat';
///     .ff-#{$fontFamily} => .ff-main
/// 

$fontFamilies: (
  main: 'Montserrat',
  complementary: 'Barlow'
);

///
/// font sizes
/// the allowed font size for all your font types
/// @example generated classes/variables
///    --fs-#{$fontSize}: #{$value}; =>  --fs-letter-sizing-1: 4.75rem;
///     .fs-#{$fontSize} => .fs-letter-sizing-1
/// 

$fontSizes: (
  /*76px*/ letter-sizing-1: 4.75rem,
  /*60px*/ letter-sizing-2: 3.75rem,
  /*48px*/ letter-sizing-3: 3rem,
  /*36px*/ letter-sizing-4: 2.25rem,
  /*34px*/ letter-sizing-5: 2.125rem,
  /*24px*/ letter-sizing-6: 1.5rem,
  /*20px*/ letter-sizing-7: 1.25rem,
  /*18px*/ letter-sizing-8: 1.125rem,
  /*16px*/ letter-sizing-9: 1rem,
  /*14px*/ letter-sizing-10: 0.875rem
);

///
/// letter spacing
/// different letter spacing to handle your font types
/// @example generated classes/variables
///    --ls-#{$leterSpacing}: #{$value}; =>  --ls-letter-spacing-n1: -0.5px;
///     .ls-#{$leterSpacing} => .ls-letter-spacing-n1
/// 
$letterSpacings: (
  letter-spacing-n1: -0.5px,
  letter-spacing-0: 0,
  letter-spacing-1: 0.15px,
  letter-spacing-2: 0.25px,
  letter-spacing-3: 0.4px,
  letter-spacing-4: 0.5px,
  letter-spacing-5: 0.75px,
  letter-spacing-6: 0.1px
);

///
/// font styles
/// the allowed font size for all your font types
/// @example generated classes/variables
///    --fst-#{$fontStyle}: #{$value}; =>  --fst-italic: 'italic';
///     .fst-#{$fontStyle} => .fst-italic
/// 
$fontStyles: (
  italic: 'italic',
  oblique: 'oblique',
  normal: 'normal'
);

///
/// font weights
/// different font weights for your application, the idea of this is that you can actually build alliases for them
/// @example generated classes/variables
///    --fw-#{$fontWeight}: #{$value}; =>  --fw-bold: 600;
///     .fw-#{$fontWeight} => .fw-bold
/// 
$fontWeights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 600
);


///
/// line heights
/// different line heights for the typography objects
/// @example generated classes/variables
///    --lh-#{$fontLineHeight}: #{$value}; =>  --lh-lineheight-1: 1;
///     .lh-#{$fontLineHeight} => .lh-lineheight-1
///
$fontLineHeights: (
  lineheight-1: 1,
  lineheight-2: 1.25,
  lineheight-3: 1.5,
  lineheight-4: 1.75,
  lineheight-5: 2
);


///
/// font types are grouped by each type using the previous defined variables
/// @example generated classes/variables
///   .ft-#{$fontType} => ft-header-1 
///   .ft-#{$fontType}-c => ft-header-1-c
///     
/// 
$fontTypes: (
  header-1: (
    family: map-get($fontFamilies, complementary),
    max-size: map-get($fontSizes, letter-sizing-1),
    min-size: map-get($fontSizes, letter-sizing-8),
    spacing: map-get($letterSpacings, letter-spacing-4),
    weight: map-get($fontWeights, bold),
    lineHeight: map-get($fontLineHeights, lineheight-2)
  ),
  header-2: (
    family: map-get($fontFamilies, complementary),
    max-size: map-get($fontSizes, letter-sizing-2),
    min-size: map-get($fontSizes, letter-sizing-8),
    spacing: map-get($letterSpacings, letter-spacing-3),
    weight: map-get($fontWeights, medium),
    lineHeight: map-get($fontLineHeights, lineheight-2)
  ),
  header-3: (
    family: map-get($fontFamilies, complementary),
    max-size: map-get($fontSizes, letter-sizing-3),
    min-size: map-get($fontSizes, letter-sizing-9),
    spacing: map-get($letterSpacings, letter-spacing-2),
    weight: map-get($fontWeights, regular),
    lineHeight: map-get($fontLineHeights, lineheight-2)
  ),
  parragraph: (
    family: map-get($fontFamilies, main),
    max-size: map-get($fontSizes, letter-sizing-4),
    min-size: map-get($fontSizes, letter-sizing-9),
    spacing: map-get($letterSpacings, letter-spacing-1),
    weight: map-get($fontWeights, bold),
    lineHeight: map-get($fontLineHeights, lineheight-2)
  ),
  small: (
    family: map-get($fontFamilies, main),
    max-size: map-get($fontSizes, letter-sizing-5),
    min-size: map-get($fontSizes, letter-sizing-10),
    spacing: map-get($letterSpacings, letter-spacing-0),
    weight: map-get($fontWeights, regular),
    lineHeight: map-get($fontLineHeights, lineheight-2)
  )
);

$minSupportedFs: map-get($fontSizes , letter-sizing-10);