:root {
  --ls-letter-spacing-n1: -0.5px;
  --ls-letter-spacing-0: 0;
  --ls-letter-spacing-1: 0.15px;
  --ls-letter-spacing-2: 0.25px;
  --ls-letter-spacing-3: 0.4px;
  --ls-letter-spacing-4: 0.5px;
  --ls-letter-spacing-5: 0.75px;
  --ls-letter-spacing-6: 0.1px;
}

:root {
  --fst-italic: "italic";
  --fst-oblique: "oblique";
  --fst-normal: "normal";
}

:root {
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
}

:root {
  --lh-lineheight-1: 1;
  --lh-lineheight-2: 1.25;
  --lh-lineheight-3: 1.5;
  --lh-lineheight-4: 1.75;
  --lh-lineheight-5: 2;
}

:root {
  --ff-main: "Montserrat";
  --ff-complementary: "Barlow";
}

:root {
  --z-index-100: 100;
  --z-index-200: 200;
  --z-index-300: 300;
  --z-index-400: 400;
  --z-index-500: 500;
  --z-index-600: 600;
  --z-index-700: 700;
  --z-index-800: 800;
  --z-index-900: 900;
}

:root {
  --shadow-level-1: 0px 0px 8px rgba(0, 0, 0, 0.12);
  --shadow-level-2: 0px 0px 15px rgba(0, 0, 0, 0.24);
}

:root {
  --fs-letter-sizing-1: 4.75rem;
  --fs-letter-sizing-2: 3.75rem;
  --fs-letter-sizing-3: 3rem;
  --fs-letter-sizing-4: 2.25rem;
  --fs-letter-sizing-5: 2.125rem;
  --fs-letter-sizing-6: 1.5rem;
  --fs-letter-sizing-7: 1.25rem;
  --fs-letter-sizing-8: 1.125rem;
  --fs-letter-sizing-9: 1rem;
  --fs-letter-sizing-10: 0.875rem;
}

:root {
  --primary-brand-blue-900: #122252;
  --primary-brand-blue-800: #15275f;
  --primary-brand-blue-700: #182d6d;
  --primary-brand-blue-600: #1b327a;
  --primary-brand-blue-500: #1e3888;
  --primary-brand-blue-400: #354c94;
  --primary-brand-blue-300: #4b60a0;
  --primary-brand-blue-200: #7888b8;
  --primary-brand-blue-100: #bcc3db;
}

:root {
  --secondary-yellow-900: #713f12;
  --secondary-yellow-800: #854d0e;
  --secondary-yellow-700: #a16207;
  --secondary-yellow-600: #ca8a04;
  --secondary-yellow-500: #eab308;
  --secondary-yellow-400: #facc15;
  --secondary-yellow-300: #fde047;
  --secondary-yellow-200: #fde68a;
  --secondary-yellow-100: #fef3c7;
}

:root {
  --semantic-critical-dark: #991b1b;
  --semantic-critical-base: #dc2626;
  --semantic-critical-light: #fca5a5;
}

:root {
  --semantic-warning-dark: #9a3412;
  --semantic-warning-base: #ea580c;
  --semantic-warning-light: #fdba74;
}

:root {
  --semantic-success-dark: #047857;
  --semantic-success-base: #10b981;
  --semantic-success-light: #6ee7b7;
}

:root {
  --semantic-info-dark: #0b4b99;
  --semantic-info-base: #106bda;
  --semantic-info-light: #88b5ed;
}

:root {
  --gray-shade-absblack: #000000;
  --gray-shade-900: #0f172a;
  --gray-shade-800: #1e293b;
  --gray-shade-700: #334155;
  --gray-shade-600: #475569;
  --gray-shade-500: #64748b;
  --gray-shade-400: #94a3b8;
  --gray-shade-300: #cbd5e1;
  --gray-shade-200: #e2e8f0;
  --gray-shade-100: #f1f5f9;
  --gray-shade-abswhite: #ffffff;
}

:root {
  --min-vw: 15.625rem;
  --max-vw: 160rem;
  --visual-spacing-corrector: 0.25rem;
  --bp-xl-spacing: 3rem;
  --bp-lg-spacing: 2rem;
  --bp-md-spacing: 1.5rem;
  --bp-sm-spacing: 1rem;
  --bp-xs-spacing: 0.25rem;
}

:root {
  --bp-xl: 2560px;
  --bp-lg: 1920px;
  --bp-md: 1200px;
  --bp-sm: 767px;
  --bp-xs: 480px;
}

:root {
  --bp-xl-spacing-clamp: clamp(
    0.25rem,
    -0.0476190476rem + 1.9047619048vw,
    3rem
  );
  --bp-lg-spacing-clamp: clamp(
    0.25rem,
    0.0606060606rem + 1.2121212121vw,
    2rem
  );
  --bp-md-spacing-clamp: clamp(
    0.25rem,
    0.1147186147rem + 0.8658008658vw,
    1.5rem
  );
  --bp-sm-spacing-clamp: clamp(
    0.25rem,
    0.1688311688rem + 0.5194805195vw,
    1rem
  );
  --bp-xs-spacing-clamp: clamp(
    0.25rem,
    0.25rem + 0vw,
    0.25rem
  );
}

/*# sourceMappingURL=root-variables.css.map */
