$breakpoints: (
  xs: (
    value: 480px,
    spacing: 0.5rem
  ),
  sm: (
    value: 767px
    spacing: 1rem
  ),
  md: (
    value: 1200px,
    spacing: 1.5rem
  ),
  lg: (
    value: 1920px,
    spacing: 2rem,
  ),
  xl: (
    value: 2560px
    spacing: 3rem
  )
);

$min-vw: 250px;
$max-vw: 2560px;
