@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.ft-header-1 {
  font-family: "Montserrat";
  font-size: 4.75rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 1.25;
}

.ft-header-1-clamp {
  font-size: 1.125rem;
  font-size: clamp(
      1.125rem,
      0.7326839827rem + 2.5108225108vw,
      4.75rem
    );
}

.ft-header-2 {
  font-family: "Montserrat";
  font-size: 3.75rem;
  letter-spacing: 0.4px;
  line-height: 1.25;
}

.ft-header-2-clamp {
  font-size: 1.125rem;
  font-size: clamp(
      1.125rem,
      0.8409090909rem + 1.8181818182vw,
      3.75rem
    );
}

.ft-header-3 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  letter-spacing: 0.25px;
  line-height: 1.25;
}

.ft-header-3-clamp {
  font-size: 1rem;
  font-size: clamp(
      1rem,
      0.7835497835rem + 1.3852813853vw,
      3rem
    );
}

.ft-parragraph {
  font-family: "Bebas Neue";
  font-size: 2.25rem;
  letter-spacing: 0.15px;
  font-weight: 600;
  line-height: 1.25;
}

.ft-parragraph-clamp {
  font-size: 1rem;
  font-size: clamp(
      1rem,
      0.8647186147rem + 0.8658008658vw,
      2.25rem
    );
}

.ft-small {
  font-family: "Barlow";
  font-size: 2.125rem;
  letter-spacing: 0;
  line-height: 1.25;
}

.ft-small-clamp {
  font-size: 0.875rem;
  font-size: clamp(
      0.875rem,
      0.7397186147rem + 0.8658008658vw,
      2.125rem
    );
}

.ff-main {
  font-family: "Montserrat";
}

.ff-secondary {
  font-family: "Bebas Neue";
}

.ff-complementary {
  font-family: "Barlow";
}

.fs-letter-sizing-1 {
  font-size: 4.75rem;
}

.fs-letter-sizing-2 {
  font-size: 3.75rem;
}

.fs-letter-sizing-3 {
  font-size: 3rem;
}

.fs-letter-sizing-4 {
  font-size: 2.25rem;
}

.fs-letter-sizing-5 {
  font-size: 2.125rem;
}

.fs-letter-sizing-6 {
  font-size: 1.5rem;
}

.fs-letter-sizing-7 {
  font-size: 1.25rem;
}

.fs-letter-sizing-8 {
  font-size: 1.125rem;
}

.fs-letter-sizing-9 {
  font-size: 1rem;
}

.fs-letter-sizing-10 {
  font-size: 0.875rem;
}

.ls-letter-spacing-n1 {
  letter-spacing: -0.5px;
}

.ls-letter-spacing-0 {
  letter-spacing: 0;
}

.ls-letter-spacing-1 {
  letter-spacing: 0.15px;
}

.ls-letter-spacing-2 {
  letter-spacing: 0.25px;
}

.ls-letter-spacing-3 {
  letter-spacing: 0.4px;
}

.ls-letter-spacing-4 {
  letter-spacing: 0.5px;
}

.ls-letter-spacing-5 {
  letter-spacing: 0.75px;
}

.ls-letter-spacing-6 {
  letter-spacing: 0.1px;
}

.fst-italic {
  font-style: "italic";
}

.fst-oblique {
  font-style: "oblique";
}

.fst-normal {
  font-style: "normal";
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 600;
}

.lh-lineheight-1 {
  line-height: 1;
}

.lh-lineheight-2 {
  line-height: 1.25;
}

.lh-lineheight-3 {
  line-height: 1.5;
}

.lh-lineheight-4 {
  line-height: 1.75;
}

.lh-lineheight-5 {
  line-height: 2;
}

/*# sourceMappingURL=fonts.css.map */
